* {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

nav {
  position: absolute;
  background-color: #f9edad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  margin: 1%;
  z-index: 1;
  width: 98%;
  height: 16%;
}

.topBarText a {
  background-color: #9db05c;
  text-align: center;
  color: #242d22;
  padding: 30px;
  font-size: 20px;
  font-weight: bold;
}

nav a:hover {
  background-color: #597439;
}

.dropdown {
  position: relative;
}

.dropdown a {
  text-align: center;
}

.drop-menu {
  display: none;
  position: absolute;
  background-color: #f9edad;
  z-index: 1;
  top: 3em;
}

.drop-menu a {
  display: block;
  margin: 5px;
  color: #242d22;
  background-color: #9db05c;
  padding: 30px;
}

.drop-menu a:hover {
  background-color: #597439;
}

.dropdown:hover .drop-menu {
  display: block;
}

.TAKISTAN {
  width: 100%;
}
